{% extends "base.html" %} 
{% block title %}RSVPFORMONE{% endblock %}
{% block content %}
  <main class="rsvp-main" id="rsvp-main-id" data-barba="container" data-barba-namespace="fashion1">
    <img class="rsvp-m-img" src="{{ url_for('static', filename='/images/MJ4.png') }}">
    <div class="login-box gradient-custom">
      <div class="login-box-holder">
        <center> <h1>RSVP</h1> </center>  
        <form method="POST">  
            <div class="container " id="rsvp-m">  
                <label>Enter Full Name</label>
                <input type="text" name="fullname"  placeholder="Enter First and Last Name" required="">
                <label for="attending">Will you Attend?</label>
                <select name="attending" id="attending" required="">
                    <option value="" selected="" disabled="">Select</option>
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                </select>
                <input type="hidden" name="_subject" id="email-subject" value="RSVP">
                <button class="gradient-custom" type="submit">RSVP</button>      
            </div>   
        </form>   
      </div>
    </div>
  </main>
{% endblock %}